.about {
    display: flex;
    text-align: left;
}

.text-left-about {
    width: 40%;
    padding: 0 5%;
}

.list {
    margin: 0;
    padding: 0;
}

.code-logos {
    background-color: bisque;
    padding: 4%;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}