.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100vw;
    height: 33vh;
    margin-top: 5vh;
  }
  
  .profile-image {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  
  .header-text {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
  }
  
  .header-text h1 {
    margin: 0;
    font-size: 5em;
  }
  
  .header-text .assets {
    font-size: 1.2em;
    margin: 0;
  }
  
  @media screen and (max-width: 600px) {
    .header {
      height: 20vh;
      margin-top: 12vh;
    }
  
    .profile-image {
      height: 80%;
    }
  
    .header-text h1 {
      font-size: 3em;
    }
  
    .header-text .assets {
      font-size: 1em;
    }
  }