.App {
  width: 100%;
  margin: 0 auto;
}

.nav-bar, .Header, footer, .RouteComponent {
  width: 100%;
}

.MainContent {
  padding-top: 5vh;
}

footer {
  padding: 10px;
  color: var(--text-color);
  text-align: center;
  text-justify: distribute;
}

footer a {
  margin: 0 2%;
}

@media screen and (max-width: 600px) {
  .MainContent {
    padding-top: 12vh;
  }
}