:root {
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --text-color: #000000;
}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-bar {
  background-color: var(--secondary-color);
}

.component-box {
  margin: 1% auto;
  background-color: var(--primary-color);
  width: 85%;
}

.project-box {
  margin: 2% 5% 1% 5%;
  background-color: var(--secondary-color);
  width: 90%;
}

.project-box, .component-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 1% 5%;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--text-color);
  transition: 0.3s;
  text-align: left;
  justify-self: center;
}

.nav-links a {
  color: var(--text-color);
}

.nav-links a:hover {
  background-color: var(--primary-color);
}

.header {
  background-color: var(--primary-color);
}
.main-content {
  overflow-x: hidden;
}

.header-text h1 {
  text-shadow: var(--secondary-color) 2px 2px 0;
}

.App {
  background-color: var(--secondary-color);
}

.profile-image {
  box-shadow: 0 4px 8px var(--text-color);
}